.content-about {
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    height: 900px;
}

.about-snap {
    height: 26em;
    width: 36em;
    margin-top: 6em;
}

.about {
    margin-left: 30%;
    margin-top: 4em;
    width: 41%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: beige;
}
