.content-about {
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
}

.content-about > div{
    margin: 40px;
}

.about-snap {
    height: 500px;
}

.about {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: beige;
    width: 600px;
    align-self: center;
}
