.content-about {
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    padding: 20px;
}

.about-snap {
    width: 100%;
}

#about-pg {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: beige;
}
