body {
    font-family: Verdana, sans-serif;
}

.wrapper-blog {
    display: grid;
    margin-top: 100px;
    width: 100%;
    grid-template-columns: 740px 740px;
    grid-template-rows: 200px 500px 600px 600px 600px;
    grid-template-areas: "hd hd hd hd" "pic-1 des-1 des-1 des-1" "des-2 pic-2 pic-2 pic-2" "pic-3 des-3 des-3 des-3" "des-4 pic-4 pic-4 pic-4";
    border: 0.1px solid white;
}

.picture-1 {
    grid: pic-1;
    margin-top: 5em;
}

.description-1 {
    grid-area: des-1;
    text-align: center;
}

.picture-2 {
    grid-area: pic-2;
}

.description-2 {
    grid-area: des-2;
    text-align: center;
    margin-top: 8em;
}

.picture-3 {
    grid-area: pic-3;
}

.description-3 {
    grid-area: des-3;
    text-align: center;
    margin-top: 6em;
}

.picture-4 {
    grid-area: pic-4;
}

.description-4 {
    grid-area: des-4;
    text-align: center;
    margin-top: 6em;
}

.header {
    grid-area: hd;
}

.Blog-img {
    height: 500px;
    width: 600px;
    margin-left: 60px;
}