.wrapper-blog {
    border: 0.1px solid white;
}

.col-md-6{
    padding: 40px;
}

.Blog-img {
    height: 400px;
    width: 100%;
}

#headline{
    align-self: center;
    text-align: center;
}