    a:link {
        text-decoration: none;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        height: 4em;
        max-width: 100%;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
    }
    
    .title {
        display: flex;
        flex-direction: column;
    }
    
    .pages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20%;
    }
    
    #insta {
        font-size: 25px;
        align-items: center;
    }
